{% extends "joueur/base.html" %}

{% load static %}

{% block welcome %}
<div class="col-lg-12 fiche">
    <h1>Création de personnage : </h1>
    <form action="" method="POST">
        {% csrf_token %}
        <h3>Informations de base : </h3>
        {{ form_perso.as_p }}

        <div class="form-group">
            <label for="list_classes">Classe : </label>

            <select class="form-control" name="classe" id="list_classes">
                <option value="Guerrier">Guerrier</option>
                <option value="Mage">Mage</option>
                <option value="Prêtre">Prêtre</option>
            </select>
        </div>

        <div class="form-group">
            <label for="list_races">Race : </label>

            <select class="form-control" name="race" id="list_races">
                <option value="Humain">Humain/option>
                <option value="Orc">Orc</option>
                <option value="Elf">Elf</option>
            </select>
        </div>

        <div class="row">
            <h3>Caractéristiques : </h3>
        </div>

        {% if points_exceed %}
            <p>Le total des points de caractéristiques distribués doit être inférieur à 20!</p>
        {% endif %}

        <div class="row">

            <div class="col-lg-2 form-group">
                <label for="force">FOR : </label>
                <input name="for" type="number" class="form-control" id="force" placeholder="0" min=8 max=28>
            </div>
            <div class="col-lg-2 form-group">
                <label for="sagesse">SAG : </label>
                <input name="sag" type="number" class="form-control" id="sagesse" placeholder="0" min=10 max=30>
            </div>
            <div class="col-lg-2 form-group">
                <label for="intelligence">INT : </label>
                <input name="int" type="number" class="form-control" id="intelligence" placeholder="0" min=10 max=30>
            </div>
            <div class="col-lg-2 form-group">
                <label for="dexterite">DEX: </label>
                <input name="dex" type="number" class="form-control" id="dexterite" placeholder="0" min=10 max=30>
            </div>
            <div class="col-lg-2 form-group">
                <label for="constitution">CON : </label>
                <input name="con" type="number" class="form-control" id="constitution" placeholder="0" min=10 max=30>
            </div>
            <div class="col-lg-2 form-group">
                <label for="chance">CHA : </label>
                <input name="cha" type="number" class="form-control" id="charisme" placeholder="0" min=10 max=30>
            </div>
        </div>

        <input type="submit" name="my_perso" class="btn btn-warning" value="Enregistrer le personnage" />
    </form>
    
</div>

{% endblock %}